table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead tr th:first-child,
tbody tr td:first-child {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  word-break: break-all;
}